@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:wght@200;300;400;500&display=swap");
* {
 padding: 0px;
 margin: 0px;
 box-sizing: border-box;
 text-decoration: none;
 list-style: none;
}

html {
 scroll-behavior: smooth;
}

body {
 font-family: "Poppins", sans-serif;
 color: #222;
 background-color: #fff;
}

h1,
h2,
h3,
h4 {
 font-family: "Open Sans", sans-serif;
}

.clr {
 color: #fab220;
}

.navbar {
 position: absolute;
 top: 0;
 left: 0;
 background-color: #fff;
 width: 100%;
}

.navbar.active {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 box-shadow: 1px 1px 4px #777;
 z-index: 1000;
}

.container {
 width: 100%;
 max-width: 1350px;
 margin: 0 auto;
 padding: 1rem 1rem;
}

.navbar .container {
 width: 100%;
 max-width: 1350px;
 margin: 0 auto;
 padding: 1rem 1rem;
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
 align-items: center;
}

.navbar .nav-contact {
 font-size: 18px;
 font-weight: 400;
 color: #4e87bc;
}

.navbar .nav-contact a {
 display: flex;
 flex-direction: column;
 font-size: 16px;
 font-weight: 300;
 color: #4e87bc;
}

.navbar .nav-logo a {
 display: flex;
 justify-content: center;
 font-size: 44px;
 font-weight: 800;
 color: #4e87bc;
 font-family: "Open Sans", sans-serif;
 letter-spacing: -8px;
}
.navbar .nav-logo a img {
 width: 80px;
}

.navbar .nav-logo a strong {
 color: #fff;
 -webkit-background-clip: inherit;
 -webkit-text-fill-color: transparent;
 -webkit-backdrop-filter: blur(55px);
 -webkit-text-stroke: 0.2px #eee;
}

.navbar .nav-socials {
 display: flex;
 justify-content: flex-end;
 gap: 1rem;
}

.navbar .nav-socials .s-link {
 width: 35px;
 height: 35px;
 display: flex;
 justify-content: center;
 align-items: center;
 border: 1px solid #444;
 font: 16px;
 color: #4e87bc;
 cursor: pointer;
}

.navbar .nav-socials a:hover {
 background-color: #fff;
 color: #444;
}

.header {
 background: linear-gradient(
   to bottom,
   rgba(244, 246, 255, 0.3882352941),
   rgba(0, 0, 0, 0.6666666667)
  ),
  url(./images/wealthy-photographer.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: top left;
 background-attachment: fixed;
 min-width: 100%;
 min-height: 100vh;
 display: flex;
 flex-direction: column;
 justify-content: center;
}
@media (max-width: 500px) {
 .header {
  min-height: 60vh;
 }
}

.header .container {
 display: flex;
 flex-direction: column;
 gap: 1rem;
}

.header .items {
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
 align-items: center;
 gap: 2rem;
 padding-top: 3rem;
}

.header .container .item {
 width: 100%;
}

.header .container .item:nth-child(1) {
 width: 100%;
 grid-column: span 2;
}

.header .container .card h2 {
 font-size: 96px;
 text-transform: uppercase;
 font-weight: 600;
 color: #fff;
 padding-bottom: 2rem;
}
@media (max-width: 992px) {
 .header .container .card h2 {
  font-size: 50px;
  margin-top: 19px;
 }
}

.header .container .card h2 span {
 color: #f7b324;
 display: block;
}

.header .container .card h2 strong {
 font-weight: 700;
 color: #a3d6f7;
}

.header .container .card h1 {
 font-size: 70px;
 font-weight: 800;
 color: #0270ba;
 letter-spacing: 3px;
}

.header .container .card h3 {
 font-size: 18px;
 font-weight: 300;
 color: #fff;
 padding-top: 2rem;
 text-transform: uppercase;
 letter-spacing: 4px;
}

.header .container .card-tags {
 padding-top: 4rem;
}

.header .container .card-tags h2 {
 font-size: 18px;
 font-weight: 400;
 color: #eee;
}

.header .container .card-tags .tags {
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 gap: 2rem;
 max-width: 700px;
 padding: 1rem 0rem;
}

.header .container .card-tags .tags span {
 background-color: rgba(0, 0, 0, 0.6666666667);
 border-left: 4px solid #a3d6f7;
 font-size: 14px;
 line-height: 14px;
 text-transform: uppercase;
 font-weight: 300;
 color: #eee;
 padding: 1.2rem 2.4rem;
 padding-left: 0.5rem;
 transition: all 1s;
 cursor: pointer;
}

.header .container .card-tags .tags span:hover {
 padding: 1.2rem 0.5rem;
 padding-left: 2.4rem;
}

section {
 display: flex;
 flex-direction: column;
}

section .heading {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

section .heading .title {
 font-size: 64px;
 font-weight: 500;
 text-transform: capitalize;
 color: #222;
 letter-spacing: 4px;
}

section .heading .subtitle {
 font-weight: 500;
 text-transform: uppercase;
 color: #aaa;
}

section .items {
 padding: 4rem 0rem;
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
 align-items: center;
 gap: 2rem;
}

.about .items .item .image {
 max-width: 400px;
 overflow: hidden;
 position: relative;
 border-radius: 20px;
}

.about .items .item .image img {
 border-radius: 20px;
 max-width: 100%;
}

.about .items .item .image img {
 width: 100%;
 height: -moz-fit-content;
 height: fit-content;
 -o-object-fit: cover;
 object-fit: cover;
}
@media (max-width: 500px) {
 .about .items .item .image img {
  max-height: 400px;
 }
}

.about .items .item h1 {
 font-size: 55px;
 line-height: 66px;
 font-weight: 500;
 color: #222;
 text-transform: uppercase;
 padding: 2rem 0rem;
 text-align: center;
}

.about .items .item .desc p {
 max-width: 350px;
 font-size: 40px;
 line-height: 70px;
 margin-left: auto;
 font-weight: 500;
 color: #222;
 padding: 1rem 1rem;
 color: #4e87bc;
}
.about .items .item .desc p:first-of-type {
 margin-right: auto;
 margin-left: unset;
}
.about .items .item .desc p b {
 font-size: 55px;
}
.about .items .item .desc p span {
 font-size: 55px;
 color: #f0b016;
}

.about .items {
 padding: 4rem 0rem;
 padding-top: 1rem;
 display: flex;
 align-items: center;
 justify-content: center;
}

@media (max-width: 500px) {
 .about .items {
  flex-direction: column;
  padding: 0rem;
 }
 .about .items .desc p {
  max-width: unset;
  margin: unset;
  width: unset;
  font-size: 39px !important;
 }
 .about .items .item {
  width: unset !important;
 }
}
section .heading {
 padding: 20px 0 50px 0;
}

.about .items .item .desc .img {
 transform: rotate(0deg);
}

.about .items .item .desc .img:nth-child(1) {
 transform: rotate(180deg);
 margin: 0 auto;
 float: right;
}

.about .item .signature {
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 2rem;
}

.about .item .signature p {
 width: 100%;
 font-size: 16px;
 line-height: 20px;
 font-weight: 300;
 color: #222;
 text-transform: uppercase;
 padding: 0rem 2rem;
}

.services .items {
 display: flex;
 flex-direction: column;
 gap: 1rem;
 padding: 0rem;
 padding-bottom: 4rem;
}

.services .items .item {
 padding: 2rem 0rem;
 border-bottom: 1px solid #444;
 padding-right: 4rem;
}

.services .items .item .title {
 font-size: 44px;
 font-weight: 500;
 color: #eee;
 padding: 1rem 0rem;
}

.services .items .item .desc {
 height: 0px;
 padding: 0rem 0rem;
 overflow: hidden;
}

.services .items .item:hover .desc {
 height: 150px;
 transition: all 3s;
}

.services .items .item .desc p {
 font-size: 16px;
 font-weight: 400;
 color: #eee;
 letter-spacing: 0px;
 padding: 0.5rem 0rem;
}

.services .items .item .btns {
 padding: 2rem 0rem;
 display: flex;
 gap: 2rem;
}

.services .items .item .btns .btn-more {
 padding: 1rem 3rem;
 background-color: transparent;
 color: #fff;
 border-radius: 2rem;
 border: 1px solid #666;
 cursor: pointer;
}

.services .items .item .btns .btn-more:hover {
 color: #fff;
 background-color: #000;
}

.work .items {
 display: grid;
 align-items: center;
 justify-content: center;
 grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
 gap: 4rem 1rem;
 flex-wrap: wrap;
}
.work .items .item {
 max-width: 425px;
 border: none;
 background-color: transparent;
 padding: 0 !important;
 text-align: left;
 cursor: unset !important;
 user-select: none;
 width: 100%;
}
.work .items .item:not(.title) {
  cursor: pointer;
}
.items.owl-carousel.team-carousel.owl-loaded.owl-drag {
  padding: 0 !important;
}
.work .items .item .image {
 width: 100%;
 height: 420px;
 overflow: hidden;
 position: relative;
}

.work .items .item .image::after {
 position: absolute;
 content: "";
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background: linear-gradient(to top, #111, transparent);
}

.work .items .item .image img {
 width: 100%;
 height: 100%;
 -o-object-fit: cover;
 object-fit: cover;
}

.work .items .item .card {
 position: relative;
 z-index: 100;
 width: 100%;
 padding: 2rem;
 margin-top: -30%;
 display: flex;
 flex-direction: column;
 text-align: left;
 top: -100px;
}

.work .items .item:nth-child(1) .card {
 width: 100%;
 padding: 10px;
 margin: 0px;
 display: flex;
 justify-content: center;
 align-items: center;
}

.work .items .item .card h1 {
 font-size: 25px;
 font-weight: bold;
 line-height: 38px;
 font-weight: 500;
 color: #fff !important;
 width: 100%;
}

.work .items .item .card p {
  cursor: none;
  width: 100%;
 font-size: 14px;
 line-height: 24px;
 font-weight: 400;
 color: #aaa;
}

.contact {
 background: url(./images/contact-bg.jpg);
}

.contact .items {
 display: flex;
 justify-content: center;
 gap: 2rem;
 padding: 4rem 0rem;
 align-items: center;
}

.contact .items .item {
 width: 100%;
}

.contact .items .item:nth-child(1) {
 width: 100%;
}

.contact .items .item .card {
 position: relative;
 z-index: 100;
 width: 100%;
 padding: 2rem 0rem;
 display: flex;
 flex-direction: column;
 gap: 1rem;
}

.contact .items .item .socials {
 display: flex;
 justify-content: flex-start;
 gap: 1rem;
}

.contact .items .item .socials a {
 width: 55px;
 height: 55px;
 display: flex;
 justify-content: center;
 align-items: center;
 border: 1px solid #444;
 font: 26px;
 color: #555454;
 border-radius: 50%;
}

.contact .items .item .socials a:hover {
 background-color: #fff;
 color: #444;
}

.contact .items .item .card h1 {
 font-size: 48px;
 line-height: 58px;
 font-weight: 500;
 color: #222;
}

.contact .items .item .card p {
 font-size: 16px;
 line-height: 24px;
 font-weight: 400;
 color: #555454;
 padding: 0rem 0rem;
}

.contact .el-contact {
 width: -moz-fit-content;
 width: fit-content;
 padding: 1rem;
 border: 1px solid #777;
 border-radius: 0.5rem;
 margin-bottom: 2rem;
}

.contact .el-contact .dir {
 display: block;
 padding: 1rem 0rem;
}

.contact .el-contact .dir span {
 font-size: 18px;
 font-weight: 400;
 color: #555454;
}

.contact .el-contact a {
 display: flex;
 flex-direction: column;
 font-size: 16px;
 font-weight: 300;
 color: #555454;
}

.contact .item .line-field {
 padding: 2rem 0rem;
 display: flex;
 flex-direction: column;
 gap: 1rem;
}

.contact .item .line-field label {
 font-size: 16px;
 line-height: 24px;
 font-weight: 400;
 color: #000;
 padding: 1rem 0rem;
 max-width: 300px;
}

.contact .item .row {
 display: flex;
 gap: 1rem;
}

.contact .item .line-field input {
 font-size: 16px;
 font-weight: 500;
 line-height: 16px;
 font-weight: 400;
 border: 1px solid #eee;
 background-color: #fff;
 border-radius: 1.8rem;
 padding: 0rem 1.6rem;
 max-width: 500px;
 width: 100%;
 color: #fff;
 outline: none;
 height: 50px;
 display: flex;
 justify-content: center;
 align-items: center;
}

.contact .item textarea {
 font-size: 16px;
 font-weight: 500;
 line-height: 16px;
 font-weight: 400;
 border: 1px solid #eee;
 background-color: #fff;
 border-radius: 5px;
 padding: 1rem 1.6rem;
 max-width: 500px;
 width: 100%;
 color: #fff;
 outline: none;
 height: 150px;
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 0.5rem;
}

.contact .item .row .btn-next {
 width: 50px;
 min-width: 50px;
 height: 50px;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: transparent;
 font-size: 20px;
 color: #ccc;
 outline: none;
 border: 1px solid #eee;
 border-radius: 50%;
 cursor: pointer;
 transition: all 1s;
}

.contact .item .row .btn-next:hover {
 color: #444;
 border: 2px solid #fff;
 background-color: #fff;
}

.footer {
 background-color: #fff;
 border-top: 1px solid #666;
 display: flex;
 justify-content: center;
 font-size: 14px;
}

.footer .rights {
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 1rem;
 gap: 1rem;
 font-size: 14px;
}

.footer p {
 font-size: 14px;
 text-align: center;
 font-family: 400;
 color: #000;
}

.footer a {
 font-family: 500;
 color: #f0b016 !important;
}

#bars {
 display: none;
}

.btn-bars {
 width: 35px;
 height: 35px;
 display: flex;
 justify-content: center;
 align-items: center;
 border: 1px solid #444;
 font: 16px;
 color: #4e87bc;
 cursor: pointer;
}

.btn-close {
 position: absolute;
 top: 1rem;
 right: 1rem;
 width: 35px;
 height: 35px;
 display: flex;
 justify-content: center;
 align-items: center;
 border: 1px solid #444;
 font: 16px;
 color: #4e87bc;
 cursor: pointer;
}

.navbar .navigation {
 position: fixed;
 top: 0;
 right: -450px;
 width: 100%;
 max-width: 450px;
 height: 100vh;
 min-height: 500px;
 background-color: #000;
 z-index: 1000;
 transition: all 2s;
}

#bars:checked ~ .navigation {
 position: fixed;
 top: 0;
 right: 0;
 width: 100%;
 max-width: 450px;
 height: 100vh;
 min-height: 500px;
 background-color: #000;
 z-index: 1000;
}

.navbar .navigation ul {
 width: 100%;
 height: 100vh;
 min-height: 500px;
 background-color: #fff;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 2.6rem;
 z-index: 100;
}

.navbar .navigation li {
 height: -moz-fit-content;
 height: fit-content;
}

.navbar .navigation a {
 font-size: 20px;
 font-weight: 500;
 letter-spacing: 3px;
 text-transform: capitalize;
 color: #4e87bc;
 margin-bottom: 0.5rem;
}

.navbar .navigation .btn-contact {
 margin-top: 1rem;
 padding: 0.8rem 2.2rem;
 background-color: transparent;
 color: #4e87bc;
 border-radius: 1.8rem;
 border: 2px solid #666;
 cursor: pointer;
}

.navbar .navigation .btn-contact:hover {
 color: #000;
 background-color: #fff;
}

/*==================== SERVICE CARD ====================*/
.card__container {
 display: flex;
 flex-wrap: wrap;
 gap: 40px 60px;
 justify-content: center;
 width: 100%;
 max-width: 90%;
 margin: auto;
 padding: 60px 0;
 padding-top: 20px;
 flex-direction: unset;
}
.service-box {
 display: flex;
 flex-direction: column;
 color: #000;
 font-weight: bold;
 gap: 10px;
 text-align: center;
 justify-content: center;
 align-items: center;
 img {
  width: 200px;
 }
}
.card__bx {
 --dark-color: #fff;
 --dark-alt-color: #777777;
 --white-color: #ffffff;
 --button-color: #333333;
 --transition: 0.3s ease-in-out;
 font-family: inherit;
 height: 350px;
 width: 300px;
 position: relative;
 display: flex;
 justify-content: center;
 align-items: center;
 background: var(--dark-color);
 transition: var(--transition);
 background-color: #f7f7f7;
 border: 1px solid rgba(0, 0, 0, 0.1);
 box-shadow: hsla(240, 5%, 41%, 0.2) 0px 7px 29px 0px;
 max-width: 22rem !important;
 transition: all 0.3s ease;
}
.card__bx:hover {
 transform: translatey(-10px);
}

.card__bx .card__data {
 position: relative;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 gap: 30px;
 text-align: center;
 padding: 0 20px;
 height: 100%;
 width: 100%;
 overflow: hidden;
}

.card__bx .card__data .card__icon {
 height: 80px;
 width: 80px;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 3rem;
 color: var(--text-color);
 background-color: var(--dark-color);
 transition: var(--transition);
}

.card__bx .card__data .card__icon {
 color: var(--clr);
}

.card__bx .card__data .card__content {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 gap: 10px;
}

.card__bx .card__data h3 {
 font-size: 1.5rem;
 font-weight: 500;
 color: #222;
 transition: var(--transition);
}

.card__bx .card__data p {
 font-size: 0.9rem;
 color: var(--dark-alt-color);
 transition: var(--transition);
}

.card__bx .card__data a {
 position: relative;
 display: inline-flex;
 padding: 8px 15px;
 text-decoration: none;
 font-weight: 500;
 margin-top: 10px;
 border: 2px solid var(--clr);
 color: var(--dark-color);
 background-color: var(--clr);
 transition: var(--transition);
}

.card__bx .card__data a:hover {
 color: var(--clr);
 background-color: var(--dark-color);
}

.slider img {
}

.slide-track {
 width: 100%;
 display: flex;
 gap: 3em;
 overflow: hidden;
}

.slider {
 min-height: unset;
 background-color: #fff;
 padding: 5em 2em;
}

@keyframes scroll {
 0% {
  transform: translateX(0);
 }
 100% {
  transform: translatex(-1000%);
 }
}
.contact_section {
 background-image: url(../images/contact-bg.jpg);
 background-size: cover;
 position: relative;
 min-height: unset;
 padding: 50px 0;
 color: #ffffff;
}
.contact_section h2 {
 font-weight: bold;
}
.contact_section form {
 padding-right: 35px;
}
.contact_section textarea,
.contact_section input {
 width: 100%;
 border: none;
 height: 50px;
 margin-bottom: 25px;
 padding-left: 25px;
 background-color: #ffffff;
 outline: none;
 color: #101010;
 border-radius: 15px;
}
.contact_section textarea::-moz-placeholder,
.contact_section input::-moz-placeholder {
 color: #131313;
}
.contact_section textarea::placeholder,
.contact_section input::placeholder {
 color: #131313;
}
.contact_section textarea.message-box,
.contact_section input.message-box {
 height: 120px;
 border-radius: 15px;
 padding: 20px;
}
.contact_section button {
 padding: 15px 65px;
 outline: none;
 border: none;
 border-radius: 30px;
 color: #fff;
 background: #f0b016;
 margin: auto;
 margin-top: 15px;
 font-size: 15px;
}
.contact_section .img-box {
 position: relative;
}
.contact_section .img-box img {
 width: 100%;
}
.contact_section .img-box .img_overlay {
 position: absolute;
 width: 70%;
 height: 75%;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 background-color: rgba(44, 41, 37, 0.9);
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.contact_section .img-box .img_overlay h2 {
  color: white;
 text-transform: uppercase;
 font-size: 2.5rem;
 margin-bottom: 25px;
 font-weight: 500;
}
.contact_section .img-box .img_overlay a {
 color: #ffffff;
 font-size: 18px;
}

@media (max-width: 500px) {
 .navbar .nav-contact span {
  font-size: 12px;
 }
 .nav-socials a {
  display: none !important;
 }
 .header .container .card-tags {
  padding: unset;
 }
 .contact_section form {
  padding: 0;
 }
 .contact_section .row {
  gap: 30px;
 }
 section .heading .title {
  font-size: 40px;
 }
 .header .container .card-tags .tags span,
 section .heading .subtitle {
  font-size: 14px;
  white-space: nowrap;
 }
 section .items {
  padding: 2rem 0;
 }
 .work .items {
  gap: 10px;
 }
 .contact_section .img-box .img_overlay h2 {
  font-size: 30px;
  margin-bottom: 10px;
 }
}
.footer-socials {
 display: flex;
 align-items: center;
 gap: 30px;
 justify-content: center;
}
.footer-socials a {
 font-size: 32px !important;
}

.about-section {
 background: url("./pic (1).jpg") no-repeat left;
 background-color: #fdfdfd;
 background-size: 55%;
 overflow: hidden;
 padding: 100px 0;
}

.inner-container {
 width: 55%;
 float: right;
 background-color: #fdfdfd;
 padding: 100px 50px;
}

.inner-container h1 {
 margin-bottom: 30px;
 font-size: 30px;
 font-weight: 900;
}

.text {
 font-size: 13px;
 color: #545454;
 line-height: 30px;
 text-align: justify;
 margin-bottom: 40px;
}

.skills {
 display: flex;
 justify-content: space-between;
 font-weight: 700;
 font-size: 13px;
}

@media screen and (max-width: 1200px) {
 .inner-container {
  padding: 80px;
 }
}
@media screen and (max-width: 1000px) {
 .about-section {
  background-size: 100%;
  padding: 100px 40px;
 }
 .inner-container {
  width: 100%;
 }
}
@media screen and (max-width: 600px) {
 .about-section {
  padding: 0;
 }
 .inner-container {
  padding: 60px;
 }
}
@font-face {
 font-family: "Grotesque";
 src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/BrandonGrotesque-Regular.eot"),
  url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/BrandonGrotesque-Regular.ttf"),
  url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/BrandonGrotesque-Regular.woff");
 font-weight: normal;
}
@font-face {
 font-family: "Grotesque Black";
 src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/BrandonGrotesque-Black.eot"),
  url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/BrandonGrotesque-Black.ttf"),
  url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/BrandonGrotesque-Black.woff");
 font-weight: bold;
}
.note {
 margin-top: 30px;
 color: #fff;
 font-size: 1rem;
 font-family: "Merriweather", sans-serif;
 line-height: 1.5;
 text-align: center;
}

article.card {
 width: 350px;
 height: 350px;
 border-radius: 15px;
 box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
 overflow: hidden;
 text-align: center;
}
article.card .thumb {
 height: 260px;
 display: flex;
 align-items: center;
 justify-content: center;
}
article.card .thumb img {
 width: 160px;
}
article.card .infos {
 width: auto;
 height: 350px;
 position: relative;
 padding: 14px 24px;
 background: #fff;
 transition: 0.4s 0.15s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}
article.card .infos .title {
 position: relative;
 margin: 10px 0;
 color: #152536;
 font-family: "Grotesque Black", sans-serif;
 font-size: 1.3rem;
 text-shadow: 0 0 0px #32577f;
}
article.card .infos .flag {
 position: absolute;
 top: 50%;
 right: 0;
 transform: translateY(-50%);
 width: 35px;
 height: 23px;
 background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/flag.png")
  no-repeat top right;
 background-size: 100% auto;
 display: inline-block;
}
article.card .infos .date,
article.card .infos .seats {
 margin-bottom: 10px;
 text-transform: uppercase;
 font-size: 0.85rem;
 color: rgba(21, 37, 54, 0.7);
 font-family: "Grotesque", sans-serif;
}
article.card .infos .seats {
 display: inline-block;
 margin-bottom: 24px;
 padding-bottom: 24px;
 border-bottom: 1px solid rgba(0, 0, 0, 0.2);
 opacity: 0;
 transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}
article.card .infos .txt {
 font-family: "Merriweather", sans-serif;
 line-height: 2;
 font-size: 0.95rem;
 color: rgba(21, 37, 54, 0.7);
 opacity: 0;
 transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}
article.card .infos .details {
 position: absolute;
 left: 50%;
 left: 50%;
 bottom: 0;
 transform: translateX(-50%);
 margin: 10px 0;
 padding: 20px 24px;
 letter-spacing: 1px;
 color: #4e958b;
 font-family: "Grotesque Black", sans-serif;
 font-size: 0.9rem;
 text-transform: uppercase;
 cursor: pointer;
 opacity: 0;
 transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}
article.card:hover .infos {
 transform: translateY(-260px);
 padding-top: 17px;
}
article.card:hover .infos .seats,
article.card:hover .infos .txt,
article.card:hover .infos .details {
 opacity: 1;
}

video {
 height: 500px;
 margin: auto;
 width: 100%;
} /*# sourceMappingURL=style.css.map */
.team-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
.team-slider {
}
.team-card {
  transition: .3s;
  box-shadow:hsla(240,5%,41%,.2) 0px 7px 29px 0px;
  .decs {
   padding: 10px;
   padding-top: 0;

 }
 img {
  transition: 0.4s;
  margin-bottom: 10px;
  max-width: 240px;
 }
 &:hover {
   transform: scale(1.01);
   transform: translatey(-10px);
 }
}

 .owl-prev, .owl-next {
        width: 15px;
        height: 100px;
        position: absolute;
        top: 40%;
        transform: translateY(-50%);
        display: block !important;
        border:0px solid black;
        color: white !important;
        width: 45px;
    height: 46px;
    font-size: 81px !important;
    line-height: 0px !important;
    }
    .owl-prev { left: -10px; }
    .owl-next { right: -10px; }
    .owl-prev i, .owl-next i {transform : scale(2,5); color: #ccc;}